@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'HighCrush';
  src: url(/fonts/HighCrush.otf);
  font-weight: normal;
  font-style: normal;
}

.text-stroke {
  -webkit-text-stroke: 0.5px #fff700;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;              /* scrollbar ki motai */
  height: 8px;             /* horizontal scrollbar */
}


::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, purple, indigo, teal);
  border-radius: 999px;   /* gol-gol scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgb(201, 0, 201), rgb(110, 0, 189), rgb(0, 196, 196));
}